body {
    margin: 0;
    padding: 0 30%;

    color: white;
    font-family: "Poppins", sans-serif;

    height: 70vh;
    background-image: url("../images/Socials.png");
    background-size: cover;
    background-repeat: no-repeat;

    overflow-y: hidden;
}

section {
    padding: 1rem 0 0 0;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-pick {
    width: 100px;
    height: 100px;
    padding: 0 3rem;
}

.image-result {
    width: 100px;
    height: 100px;
    padding: 0 4rem;
}

.main-result {
    width: 100%;
    display: flex;
    justify-content: center;
}

.result-game {
    padding: 0;
    margin: -20px 0 10px 0;
    display: flex;
    justify-content: center;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.versus {
    padding: 1.5rem 0;
}

.text-score {
    padding: 1rem 0;
}

.score-container {
    display: flex;
}

.win-score-container {
    display: flex;
    padding: 0 0 1rem 0;
}

.win-score {
    margin: 0;
}

.lose-score {
    margin: 0;
}

@media (max-width: 767px) {
    body {
        display: block;
        padding: 0;
        height: 100vh;
    }
    section {
        padding: 0.3rem 0 0 0;
    }

    .text {
        padding: 0 3rem;
    }

    .text-score {
        padding: 1rem 3rem;
    }

    .text-score {
        padding: 1rem 3rem;
    }

    .result-game {
        padding: 1rem 0;
        width: 100%;
        margin: -20px 0 0 0;
    }

   .image-pick {
        width: 100px;
        height: 100px;
        padding: 0rem 0.3rem;
    }

    .image-result {
        width: 100px;
        height: 100px;
        padding: 0rem 0.7rem;
    }
}